* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Titan One", cursive;
  overflow-x: hidden;
}
.header_box {
  width: 100vw;
  height: 75px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(187, 100%, 54%);

  &__text {
    color: rgb(220, 212, 248);
    font-size: 50px;
    border: 1px;
    -webkit-text-stroke: 2px rgb(207, 104, 125);

    text-shadow: 2px 2px 4px #000000;
    animation: intro 1s ease-in-out forwards;
    animation-iteration-count: 1;
    overflow: hidden;
    &:hover {
      animation: light2 1.5s ease-in-out infinite alternate;
    }
  }
  &__of {
    color: rgb(129, 121, 245);
  }
  &__life {
    margin-right: 5px;
    color: rgb(233, 183, 222);
  }
}
@keyframes light2 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px hsl(210, 60%, 88%);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff,
      0 0 15px hsl(210, 60%, 88%);
  }
}
@keyframes intro {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 0%;
  }
}
.main_container {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: hsl(211, 100%, 79%);
  //box-shadow: 2px 2px 8px #000000;

  &__scenario {
    background-color: rgb(173, 253, 247);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.board {
  margin: 15px 80px;
  padding: 5px 50px;
  height: 100vh;
  width: 100vw;
  background-color: rgb(129, 121, 245);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 8px #07135a;

  &__cell {
    height: 25px;
    width: 25px;
    background-color: red;
    //background: url("/imag/cellempty.png") 0 0 no-repeat transparent;
  }
}

.game_canvas {
  width: 70vw;
  height: 80vh;
  background-color: rgb(183, 240, 250);
  border: dotted 1px hsl(209, 79%, 74%);
  border-radius: 20px;
  box-shadow: 2px 2px 8px #000000;
}
.footer_box {
  width: 100vw;
  height: 25px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    hsl(209, 79%, 74%),
    rgb(218, 187, 218)
  );
  &__text {
    color: rgb(97, 18, 97);
    font-size: 7px;
  }
}
